<template name="contactHeaderBar">
    <div class="contactHeaderBarButtonGroup">
        <div class="btn-group {{#unless isXsDevice}}btn-group-justified{{/unless}}">
            <div class="btn-group">
                <button type="button"
                        class="btn {{#if isCurrentRoute "about" }}btn-success{{else}}btn-default{{/if}} tabbable"
                        id="about">
                    <span>{{_ "region.footer.footer_bar.about" }}</span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button"
                        class="btn {{#if isCurrentRoute "imprint" }}btn-success{{else}}btn-default{{/if}} tabbable"
                        id="imprint">
                    <span>{{_ "region.footer.footer_bar.imprint" }}</span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button"
                        class="btn {{#if isCurrentRoute "dataprivacy" }}btn-success{{else}}btn-default{{/if}} tabbable"
                        id="data-privacy">
                    <span>{{_ "region.footer.footer_bar.data_privacy" }}</span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button"
                        class="btn {{#if isCurrentRoute "agb" }}btn-success{{else}}btn-default{{/if}} tabbable"
                        id="tos">
                    <span>{{_ "region.footer.footer_bar.tos" }}</span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button"
                        class="btn btn-default tabbable"
                        id="blog">
                    <span>{{_ "region.footer.footer_bar.blog"}}</span>
                </button>
            </div>
        </div>
    </div>
</template>
