<template name="kickMemberSplashscreen">
    <div class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Soll der Teilnehmer '<span id="nickName"></span>' aus dem Quiz entfernt werden?</p>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <button id="closeDialogButton" class="button">
                                <span class="glyphicon glyphicon-arrow-left glyph-left" aria-hidden="true"></span>
                                Nein
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button id="kickMemberButton" class="button button-next">
                                Ja !
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>