#quizManagerDetails {
	.btn-group {
		display: flex;
		flex-direction: row;

		.btn-group {
			width: 100%;
			margin-top: 10px;

			button {
				width: 100%;
				border: none;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
}
