
@import "../../../layout/global/styles/appearance";

#quizManager {
	.sortable-placeholder {
		border-radius: $corner-radius;
		opacity: 0.2;
		height: 30px;
	}
	.remove-sortable-placeholder {
		border: none;
		font-size: 14px;
	}
	ul {
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;
			cursor: move;

			&.draggable {
				z-index: 1080 !important;
			}
		}

		&#available_questions_wrapper,
		&#added_questions_wrapper {
			min-height: 100px;

			.questionElementWrapper {
				margin: 5px 0;
				padding: 5px;
				border-radius: $corner-radius;
				position: relative;

				&:hover {
					.removeQuestion {
						visibility: visible;
					}
				}

				li {
					width: calc(100% - 30px);
					&[data-valid='true'] {
						&:before {
							content: "\2611";
							margin-right: 5px;
						}
					}
					&[data-valid='false'] {
						&:before {
							content: "\2612";
							margin-right: 5px;
						}
					}
				}

				.removeQuestion {
					visibility: hidden;
					cursor: pointer;
					float: right;
					top: 4px;
					position: absolute;
					right: 10px;
					font-size: 20px;
				}
			}

			.ui-draggable-dragging {
				width: calc(100% - 30px) !important;
			}
		}
	}
}
