<template name="plain_view">
    <div class="plain_view">
        <div id="content">
            <div id="topNav">
                <div class="col-md-12 header-layout">
                    <div class="row nav-row">
                        <div class="col-xs-2">
                            <div class="arsnova-logo">
                                <img src="/images/arsnova_click.svg" alt="arsnova_click_logo"/>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="text-center header-title default-yellow-text-color">
                                <p>arsnova.click</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            {{> connectionQualityHeader}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="containerFrame"></div>
        </div>
    </div>
</template>
