<template name="createTimerView">
    {{> titel titelText = 'Countdown einstellen' }}
    <div class="row center-vertical">
        <div class="col-md-12">
            <div class="row distance-top">
                <div class="col-lg-7">
                    <div id="slider" class="slider"></div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group input-group-slider">
                        <span class="input-group-addon round-corners input-field-bg-color input-group-letter glyphicon-hourglass"></span>
                        <input type="text"
                               class="input-field round-corners slider-timer-input"
                               aria-describedby="basic-addon1" disabled value="{{slider}} Sekunden">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> splashscreen lazyClose="true" noAutorun="true" headername="Error" templateName="errorMessageSplash" type="splash-screen-error-message"}}
    {{> footer_nav_buttons backId = 'backButton' forwardId = 'forwardButton' }}
</template>