<template name="createAnswerOptions">
    <form>
        Antwortoptionen
        {{#each answeroptions}}
            {{> answerOptionItem}}
        {{/each}}
    </form>
</template>

<template name="answerOptionItem">
    {{#with answerOptions}}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">{{answerOptionNr}}</div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
            <div class="input-group-addon">
                {{#if isCorrect}}
                    r
                {{/else}}
                    f
                {{/if}}
            </div>
        </div>
    </div>
    {{/with}}
</template>