<template name="createQuestionView">
    <div class="row center-vertical">
        <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <!-- todo: center Placeholder vertical -->
                <textarea class="round-corners textarea placeholder-align-center" maxlength="1000"
                          rows="4" id="questionText" placeholder="Gib hier die Frage ein!"
                          autofocus>{{questionText}}</textarea>
            </div>
        </div>
        <div class="row distance-top">
            <div class="col-md-12">
                <div class="row row-create-question-buttons">
                    <div class="col-xs-6">
                        <button id="formatButton" class="button button-default">
                            Format
                        </button>
                    </div>

                    <div class="col-xs-6">
                        <button id="previewButton" class="button button-default">
                            Vorschau
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
    {{> footer_nav_buttons backId="backButton" forwardId="forwardButton"}}

</template>