<template name="createTimerView">

    <div class="hashtag-template">

        <div class="row row-hashtag-padding">

            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center text-white">Timer einstellen</h1>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="round-corners input-field-bg-color text-center placeholder-align-center timer-input" id="setTimer" value="{{timer}}" placeholder="Gib den Timer für deine Frage ein!"  autofocus>
                    </div>
                </div>

                <div class="row row-landingpage-buttons">

                    <div class="col-xs-6 col-join-session">
                        <button class="btn-join-session round-corners button-shadow" id="backButton">Zurück</button>
                    </div>

                    <div class="col-xs-6 col-create-session">
                        <button class="btn-create-session round-corners button-shadow" id="forwardButton">Weiter</button>
                    </div>

                </div>

            </div>

        </div>


    </div>







</template>