<template name="createAnswerOptions">
    <div class="row titel titel-relative">
        <div class="col-md-12">
            <div class="col-md-12">Antwortoptionen</div>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-12">
            <div class="row row-landingpage-buttons">
                <div class="col-md-12 text-center">
                    <button type="button" id="addAnswerOption"
                            class="btn btn-lg btn-secondary round-corners button-shadow button-grey">+
                    </button>
                    <button type="button" id="deleteAnswerOption"
                            class="btn btn-lg btn-secondary round-corners button-shadow button-grey">-
                    </button>
                </div>
            </div>
            <div class="row distance-top">
                <div class="col-md-12">
                    {{#each answerOptions}}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-letter round-corners input-group-addon input-field-bg-color">{{answerOptionLetter answerOptionNumber}}</div>
                                <input type="text"
                                       class="input-field"
                                       id="answerOptionText_Number{{answerOptionNumber}}"
                                       placeholder="Text oder lass leer"
                                       value="{{answerText}}">

                                <div class="toggleCorrect round-corners input-group-addon input-field-bg-color input-group-letter">
                                    {{#if isCorrect}}
                                        <!--r-->
                                        <div class="check-mark-checked">&#10004;</div>
                                    {{else}}
                                        <!--f-->
                                        <div class="check-mark-unchecked">&#10004;</div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>


    {{> footer_nav_buttons backId="backButton" forwardId="forwardButton"}}

</template>