<template name="createQuestionView">
    {{> titel titelText=""}}
    <div class="row center-vertical">
        <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <!-- todo: center Placeholder vertical -->
                <textarea class="round-corners textarea placeholder-align-center" maxlength="1000"
                          rows="4" id="questionText" placeholder="Gib hier die Frage ein!"
                >{{questionText}}</textarea>
            </div>
        </div>
        <div class="row distance-top">
            <div class="col-md-12">
                <div class="row row-create-question-buttons">
                    <div class="col-xs-6">
                        <button id="formatButton" class="button button-default">
                            <span class="glyphicon glyphicon-cog glyph-left"></span>
                            Format
                        </button>
                    </div>

                    <div class="col-xs-6">
                        <button id="previewButton" class="button button-purple">
                            Vorschau
                            <span class="glyphicon glyphicon-phone glyph-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    {{> splashscreen lazyClose=true noAutorun=true headername="Error" templateName="errorMessageSplash" type="splash-screen-error-message"}}
    {{> splashscreen lazyClose=true noAutorun=true headername="Vorschau" templateName="questionPreviewSplash"}}
    {{> footer_nav_buttons backId="backButton" forwardId="forwardButton"}}

</template>