<template name="datenschutz">

    <div class="container text-light contentContainer">
        <h1>
            Datenschutzerklärung
        </h1>
        <h3>
            Geltungsbereich
        </h3>
        <p>
            Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung
            personenbezogener Daten durch den verantwortlichen Anbieter, siehe Impressum, auf dieser Website (im
            folgenden “Angebot” oder „ARSnova“ genannt) auf.
            Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem
            Telemediengesetz (TMG).
        </p>
        <h3>
            Zugriffsdaten
        </h3>
        <p>
            Auf dem ARSnova-Webserver werden nur die technisch und inhaltlich notwendigen Daten erfasst. Diese werden
            nicht an Dritte weitergegeben.

            Wenn Sie als Gast/nichtregistrierter Nutzer den Dienst verwenden, werden technisch bedingt die IP-Adresse
            und Browserinformationen gespeichert.

            Für registrierte Nutzer gilt außerdem: Durch Registrierung auf dem ARSnova-Webserver über Ihre E-Mailadresse
            wird ein Benutzer-Account im System angelegt, der beim Einloggen abgefragt wird. Die standardmäßige
            Erfassung der o. g. Daten dient lediglich der Verwaltung des Benutzer-Accounts im System.

            Durch Registrierung auf den ARSnova-Webserver über Facebook oder Google gestatten Sie dem Server eine
            Verifizierung Ihrer Daten über einen der genannten Anbieter. Das Angebot legt ein Nutzerkonto auf dem
            ARSnova-Webserver an und verwaltet alle angebotsbezogenen Daten. Eine Weitergabe dieser Daten an Dritte –
            inklusive der genannten Anbieter – erfolgt nicht. Bei einem Login via Google/Facebook werden von diesen
            Unternehmen weitere Daten gespeichert.

            ARSnova ordnet beim Erstellen von Sessions registrierter Nutzer diese dem aktuellen Benutzer zu. Dies gilt
            u. a. auch für Antworten auf Fragen. Nur so ist es möglich, den Benutzern später noch anzuzeigen, welche
            Antwortoption sie gewählt haben. Die erstellten Inhalte registrierter Nutzer werden auf dem ARSnova-Server
            gespeichert. Wenn die Gastanmeldung gewählt wurde, trifft dies nicht zu.

            Dozenten haben keinerlei Möglichkeit, Rückschlüsse zu ziehen, welche Daten von welchem Benutzer erstellt
            wurden. Von einem Administrator mit Datenbankzugriff kann diese Zuordnung eingesehen werden.

            Sie können Ihren Benutzer-Account jederzeit löschen lassen.
        </p>
        <h3>
            Server-Logfiles
        </h3>
        <p>
            Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten über jeden Zugriff auf das Angebot (so
            genannte Server-Logfiles). Zu den Zugriffsdaten gehören:

            Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über
            erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor
            besuchte Seite), IP-Adresse und der anfragende Provider.

            Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der
            Sicherheit und der Optimierung des Angebotes. Der Anbieter behält sich jedoch vor, die Protokolldaten
            nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer
            rechtswidrigen Nutzung besteht.

        </p>
        <h3>
            Kontaktaufnahme
        </h3>
        <p>
            Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder E-Mail) werden die Angaben
            des Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.

        </p>
        <h3>
            Kommentare und Beiträge
        </h3>
        <p>
            Wenn Nutzer Kommentare im Blog oder sonstige Beiträge hinterlassen, werden ihre IP-Adressen gespeichert. Das
            erfolgt zur Sicherheit des Anbieters, falls jemand in Kommentaren und Beiträgen widerrechtliche Inhalte
            schreibt (Beleidigungen, verbotene politische Propaganda etc.). In diesem Fall kann der Anbieter selbst für
            den Kommentar oder Beitrag belangt werden und ist daher an der Identität des Verfassers interessiert.

        </p>
        <h3>
            Einbindung von Diensten und Inhalten Dritter
        </h3>
        <p>
            Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von
            YouTube, Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden.
            Dies setzt immer voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als „Dritt-Anbieter“) die
            IP-Adresse der Nutzer wahrnehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des
            jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich.

        </p>
        <h3>
            Cookies
        </h3>
        <p>
            Cookies sind kleine Dateien, die es ermöglichen, auf dem Zugriffsgerät der Nutzer (PC, Smartphone o. ä.)
            spezifische, auf das Gerät bezogene Informationen zu speichern. Sie dienen zum einem der
            Benutzerfreundlichkeit von Webseiten und damit den Nutzern (z.B. Speicherung von Logindaten). Zum anderen
            dienen sie, um die statistische Daten der Webseitennutzung zu erfassen und sie zwecks Verbesserung des
            Angebotes analysieren zu können. Die Nutzer können auf den Einsatz der Cookies Einfluss nehmen. Die meisten
            Browser verfügen über eine Option, mit der das Speichern von Cookies eingeschränkt oder komplett verhindert
            wird.

            Für die Nutzung von ARSnova muss Ihr Browser Cookies erlauben.
        </p>
        <h3>
            Registrierfunktion
        </h3>
        <p>
            Die im Rahmen der Registrierung eingegebenen Daten werden für die Zwecke der Nutzung des Angebotes
            verwendet. Die Nutzer können über angebots- oder registrierungsrelevante Informationen, wie Änderungen des
            Angebotsumfangs oder technische Umstände, per E-Mail informiert werden. Die erhobenen Daten sind aus der
            Eingabemaske im Rahmen der Registrierung ersichtlich.

        </p>
        <h3>
            Piwik
        </h3>
        <p>
            Dieses Angebot benutzt Piwik, eine Open-Source-Software zur statistischen Auswertung der Nutzerzugriffe.
            Piwik verwendet sog. “Cookies”, Textdateien, die auf dem Computer der Nutzer gespeichert werden und die eine
            Analyse der Benutzung der Website durch die Nutzer ermöglichen. Die durch den Cookie erzeugten Informationen
            über die Benutzung dieses Agebotes werden auf dem Server des Anbieters in Deutschland gespeichert. Die
            IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Nutzer können die
            Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; ARSnova ist
            dann aber nicht mehr benutzbar.
        </p>
        <h3>
            Widerruf, Änderungen, Berichtigungen und Aktualisierungen
        </h3>
        <p>
            Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten,
            die über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten,
            Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht
            entgegensteht.
        </p>
        <p>
            Diese Datenschutzerklärung basiert auf einem Datenschutzmuster von Rechtsanwalt Thomas Schwenke (<a
                href="http://rechtsanwalt-schwenke.de" class="text-light hover-underline">http://rechtsanwalt-schwenke.de</a>).
        </p>
    </div>
</template>