<template name="endOfPollingSplashscreen">
    <div class="modal fade js-splashscreen-end-of-polling" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content splash-screen-show-question">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    Abstimmung ist vorbei!
                    <button id="js-btn-hideEndOfPollingModal" type="button" class="btn btn-success btn-answerOption btn-lg ">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Fenster schließen
                    </button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</template>