<template name="errorSplashscreen">
    <div class="modal fade js-errorsplashscreen" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content splash-screen-error-message">
                <div class="modal-header">
                    <h2>
                        Error
                    </h2>
                </div>
                <div class="modal-body">
                    <div class="errorMessageSplash ">
                        <div id="errorMessage-text">
                        </div>
                        <button id="js-btn-hideErrorMessagewModal" type="button" class="btn splash-button-error-message btn-answerOption btn-lg">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Fenster schließen
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</template>