<template name="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-small">
        <div class="container-fluid text-center color-black">
            <div class="col-xs-2 col-sm-3">
                <a href="#">Über</a>
            </div>
            <div class="col-xs-2 col-sm-3">
                <a href="#">AGB</a>
            </div>
            <div class="col-xs-4 col-sm-3">
                <a href="#">Impressum</a>
            </div>
            <div class="col-xs-4 col-sm-3">
                <a href="#">Datenschutz</a>
            </div>
        </div>
    </nav>
</template>