<template name="footer_nav_buttons">
    <div class="fixed-bottom">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-6">
                        <button id="{{backId}}" class="button button-back">
                            Zur&uuml;ck
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button id="{{forwardId}}" class="button button-next">
                            Weiter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>