<template name="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom footer footer-gradient">
        <div class="container-fluid text-center text-dark">

            <!-- TODO: Insert right condition for the "Home"-Routing -->
            {{#if isInHomePath}}
                <a href="/ueber">
                    <div class="col-xs-2 col-sm-3">Über</div>
                </a>
            {{else}}
                <a href="/">
                    <div class="col-xs-2 col-sm-3">Home</div>
                </a>
            {{/if}}

            <a href="/agb">
                <div class="col-xs-2 col-sm-3">
                    AGB
                </div>
            </a>
            <a href="/datenschutz">
                <div class="col-xs-4 col-sm-3">
                    Datenschutz
                </div>
            </a>
            <a href="/impressum">
                <div class="col-xs-4 col-sm-3">
                    Impressum
                </div>
            </a>
        </div>
    </nav>
</template>