<template name="hashtag_view">

    <div class="hashtag-template">

        <div class="row row-hashtag-padding">

            <div class="col-md-6 col-md-offset-3">

                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon round-corners input-field-bg-color hashtag-char">#</span>
                            <input type="text"
                                   class="round-corners hashtag-field input-field-bg-color placeholder-align-center"
                                   id="hashtag-input-field" placeholder="Gib den Hashtag deiner Frage ein!"
                                   aria-describedby="basic-addon1" autofocus>
                        </div>
                    </div>
                </div>

                <div class="row row-landingpage-buttons">

                    <div class="col-xs-6 col-join-session">
                        <button id="joinSession" class="form-control btn-join-session round-corners button-shadow">Mach mit!</button>
                    </div>

                    <div class="col-xs-6 col-create-session">
                        <button id="addNewHashtag" class="btn-create-session round-corners button-shadow">Mach neu !
                        </button>
                    </div>

                </div>

            </div>

        </div>


    </div>
</template>