<template name="hashtag_view">
    <div class="row center-vertical">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon round-corners input-field-bg-color input-group-letter">#</span>
                        <input type="text"
                               class="round-corners hashtag-field input-field"
                               id="hashtag-input-field" placeholder="Gib den Hashtag ein!"
                               aria-describedby="basic-addon1" autofocus>
                    </div>
                </div>
            </div>
            <div class="row distance-top">
                <div class="col-xs-6 col-join-session">
                    <button id="joinSession" class="button button-purple" disabled>Mach mit !</button>
                </div>
                <div class="col-xs-6 col-create-session">
                    <button id="addNewHashtag" class="button button-warning" disabled>Mach neu !</button>
                </div>
            </div>
        </div>
    </div>
</template>