<template name="header">
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="container-fluid center-block">
                    <div class="text-center text-size-medium header-layout">
                        <a href="/">
                            <span style="color:white">a r s <span class="default-yellow-text-color">n o v a </span>. c l i c k</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>