<template name="impressum">

    <div class="container text-light contentContainer col-md-12">
        <h1>
            Impressum
        </h1>

        <p>
            Installation und Betrieb der Website und Webapp arsnova.click sind eine Dienstleistung der:
        </p>
        <p>
            TransMIT – Gesellschaft für Technologietransfer mbH
            Projektbereich für mobile Anwendungen
        </p>
        <ul class="list list-unstyled ">
            <li>
                c/o THM – Technische Hochschule Mittelhessen
            </li>
            <li>
                Fachbereich Mathematik, Naturwissenschaften und Informatik
            </li>
            <li>
                Prof. Dr.-Ing. habil. Klaus Quibeldey-Cirkel
            </li>
            <li>
                Lehrstuhl für Softwaretechnik
            </li>
        </ul>
        <ul class="list list-unstyled ">
            <li>
                Wiesenstraße 14
            </li>
            <li>
                D-35390 Gießen
            </li>
        </ul>

        <ul class="list list-unstyled ">
            <li>
                Telefon: +49 641 309 – 24 50
            </li>
            <li>
                E-Mail: <a href="mailto:klaus.quibeldey-cirkel@transmit.de" class="text-light">klaus.quibeldey-cirkel@transmit.de</a>
            </li>
        </ul>

        <ul class="list list-unstyled">
            <li>
                Sitz der Gesellschaft: Gießen
            </li>
            <li>
                Website: <a href="https://www.transmit.de" class="text-light">https://www.transmit.de</a>
            </li>
            <li>
                Rechtsform: GmbH
            </li>
            <li>
                Amtsgericht: Gießen HRB 3036
            </li>
            <li>
                USt-IdNr.: DE 188 685 037
            </li>
        </ul>
    </div>
</template>
