<template name="markdownBar">
    <div class="input-field round-corners-top markdown-box">
        <div class="row row-centered">
            <div id="infoMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="Info">
                <span class="glyphicon glyphicon-info-sign glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="boldMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="Fett">
                <span class="glyphicon glyphicon-bold glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="headerMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="Überschrift">
                <span class="glyphicon glyphicon-header glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="linkMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="Hyperlink">
                <span class="glyphicon glyphicon-globe glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="unsortedListMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="Unsortierte Liste">
                <span class="glyphicon glyphicon-list glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="sortedListMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="Sortierte Liste">
                <span class="glyphicon glyphicon-sort-by-attributes glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="latexMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="LaTex-Auszeichnung">
                <span class="glyphicon latexIcon glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="codeMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="Code-Auszeichnung">
                <span class="glyphicon codeListingIcon glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="commentMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="Zitat">
                <span class="glyphicon glyphicon-comment glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="pictureMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="Bild">
                <span class="glyphicon glyphicon-picture glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="youtubeMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="YouTube">
                <span class="glyphicon youtubeIcon glyph-markdown" aria-hidden="true"></span>
            </div>
            <div id="vimeoMarkdownButton" class="button-markdown button-purple col-xs-1 col-sm-1 col-md-1 col-centered" data-toggle="tooltip" title="Vimeo">
                <span class="glyphicon vimeoIcon glyph-markdown" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</template>