<template name="memberlist">
    {{#if isNotOwnerAndReadConfirmationNeeded}}
        {{> splashscreen templateName = "questionT" lazyClose = false}}
    {{/if}}
    <div class="row">
        <div class="col-md-12">
            {{#if isNotOwner}}
                <div class="row titel learner-title">
                    <h3 class=" titel-relative text-light text-center">
                        Teilnehmer/innen im Hashtag &laquo; {{hashtag}} &raquo;
                    </h3>
                </div>
            {{/if}}
            <div class="row learner-list margin-title"
                 id="learner-list">
                {{#each learners}}
                    {{>learner}}
                {{/each}} <!-- learners -->
            </div>
            {{#if showMoreButton}}
                <button class="btn btn-grey btn-more-learners">
                    (Zeige {{invisibleLearnerCount}} weitere)
                </button>
            {{/if}}
        </div>
    </div>
    {{#if isOwner}}
        <div class="fixed-bottom">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="col-xs-6">
                            <button id="backButton" class="button button-back">
                                <span class="glyphicon glyphicon-arrow-left glyph-left" aria-hidden="true"></span>
                                Zurück
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button id="startPolling" class="button button-next button-start">
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if isReadingConfirmationRequired}}
        <div class="row confirmationCounter">
            <div class="col-md-2 col-md-offset-3">
                <span class="text-light">
                    Percent read Question:
                </span>
            </div>

            <div class="col-md-4">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                         aria-valuenow="{{percentRead}}"
                         aria-valuemin="{{percentRead}}" aria-valuemax="100"
                         style="min-width: 2em; width: {{percentRead}}%;">
                        {{percentRead}} %
                    </div>
                </div>
            </div>

        </div>
    {{/if}}
</template>

<template name="learner">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <button class="btn btn-learner slide-top {{#if isOwnNick nick}}color-changing-own-nick{{/if}} "
                id="{{_id}}"
                style="background-color: {{backgroundColor}}; color:{{foregroundColor}}">
            {{nick}}
        </button>
    </div>
</template>

<template name="questionT">
    <!-- TODO! css-stylings-->
    <p class="splashSmallTitle">{{quest}}</p>
    <br/>

    <div class="row">
        <div class="col-md-12">
            <button id="setReadConfirmed" class="" onclick="closeSplashscreen();">Gelesen</button>
        </div>
    </div>
</template>