<template name="memberlist">
    {{> splashscreen templateName = "questionT" lazyClose = false}}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row learner-title">
                <h3 class="text-light text-center">
                    Teilnehmer/innen im Hashtag {{hashtag}}
                </h3>
            </div>
            <div class="row learner-list" id="learner-list">
                <!-- TODO: delete test loop before push-->
                {{#each learners}}
                    <div class="col-md-4">
                        <button class="btn btn-grey btn-learner">
                            {{>learner}}
                        </button>
                    </div>
                {{/each}} <!-- learners -->
            </div>
        </div>

        <!--  container-height mit row height vergleichen // mit jQuery  -->
        <!-- contentPosition ist der container-->
        <!-- Session.set("showMore",true)-->
    </div>

    {{#if isOwnerAndReadConfirmationNeeded}}
        Percent read Question: {{percentRead}} %
        <!-- TODO percent readConfirmed of all members -->
    {{/if}}
</template>

<template name="learner">
    <div>
        <!-- TODO! css-stylings-->
        {{nick}}
    </div>
</template>

<template name="questionT">
    <p class="splashSmallTitle">{{quest}}</p>
    <br/>
    <ol>
        {{#each answ}}
            <li>{{answerText}}</li>
        {{/each}}
    </ol>
    <div class="row">
        <div class="col-md-12">
            <button id="setReadConfirmed" class="" onclick="closeSplashscreen();">Gelesen</button>
        </div>
    </div>
</template>