<template name="memberlist">
    {{#if isNotOwnerAndReadConfirmationNeeded}}
        {{> splashscreen templateName = "questionT" lazyClose = false}}
    {{/if}}
    <div class="row">
        <div class="col-md-12">
            <div class="row titel learner-title">
                <h3 class=" titel-relative text-light text-center">
                    {{> titel titelText = "Teilnehmer/innen" }}
                </h3>
            </div>
            <div class="row learner-list margin-title"
                 id="learner-list">
                <!-- TODO: delete test loop before push-->
                {{#each learners}}
                    {{>learner}}
                {{/each}} <!-- learners -->
                {{#if showMoreButton}}
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <button class="btn btn-grey btn-learner btn-more-learners">...</button>
                    </div>
                {{/if}}
            </div>
            <!--  TODO: Meteor Pagination verwenden -->
        </div>
    </div>
    {{#if isReadingConfirmationRequired}}
        <div class="row confirmationCounter">
            <div class="col-xs-5 col-md-5 col-lg-4 text-right">
                <span class="text-light">
                    Percent read Question:
                </span>
            </div>

            <div class="col-xs-7 col-md-7 col-lg-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                         aria-valuenow="{{percentRead}}"
                         aria-valuemin="{{percentRead}}" aria-valuemax="100"
                         style="min-width: 2em; width: {{percentRead}}%;   ">
                        {{percentRead}} %
                    </div>
                </div>
            </div>

        </div>
    {{/if}}
</template>

<template name="learner">
    <div>
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <button class="btn btn-grey btn-learner">
                {{nick}}
            </button>
        </div>
    </div>
</template>

<template name="questionT">
    <!-- TODO! css-stylings-->
    <p class="splashSmallTitle">{{quest}}</p>
    <br/>

    <div class="row">
        <div class="col-md-12">
            <button id="setReadConfirmed" class="" onclick="closeSplashscreen();">Gelesen</button>
        </div>
    </div>
</template>
