<template name="endOfPollingSplashscreen">
    <div class="modal fade js-splashscreen-end-of-polling" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content splash-screen-show-question">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div id="end-of-polling-text">
                        {{#if isSurvey}}
                            <p>Du hast erfolgreich an der Umfrage teilgenommen</p>
                        {{/if}}
                        {{#if isSC}}
                            {{#if correct}}
                                <p>Du hast richtig geantwortet!</p>
                            {{else}}
                                <p>Du hast falsch geantwortet!!</p>
                            {{/if}}
                        {{/if}}
                        {{#if isMC}}
                            {{#if correct}}
                                <p>Du hast komplett richtig geantwortet!</p>
                            {{else}}
                                <p>Du hast falsch geantwortet!</p>
                            {{/if}}
                        {{/if}}
                    </div>
                    <button id="js-btn-hideEndOfPollingModal" type="button" class="btn btn-success btn-answerOption btn-lg ">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Fenster schließen
                    </button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</template>