<template name="nick">

    {{> titel titelText = "Gib Dir einen Nicknamen !"}}
    <div class="row center-vertical">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <input type="text"
                           class="round-corners input-field"
                           id="nickname-input-field" placeholder="Gibt deinen Nick ein !"
                           aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>
    {{> splashscreen lazyClose="true" noAutorun="true" headername="Error" templateName="errorMessageSplash" type="splash-screen-error-message"}}
    {{> footer_nav_buttons backId="backButton" forwardId="forwardButton"}}
</template>