<template name="nick">
    <div class="row center-vertical">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <input type="text"
                           class="round-corners input-field"
                           id="nickname-input-field" placeholder="Gib dir einen Nicknamen !"
                           aria-describedby="basic-addon1" autofocus>

                </div>
            </div>
            <div class="row buttons-distance-top">
                <div class="col-xs-6">
                    <button id="backToHome" class="button button-warning">Zurück !</button>
                </div>
                <div class="col-xs-6">
                    <button id="addNickname" class="button button-next">Weiter !</button>
                </div>
            </div>
        </div>
    </div>
</template>