<template name="nick">
    <div class="nickname-template">
        <div class="row row-nickname-padding">

            <div class="col-md-6 col-md-offset-3">

                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon round-corners input-field-bg-color"></span>
                            <input type="text"
                                   class="round-corners nickname-field input-field-bg-color placeholder-align-center"
                                   id="nickname-input-field" placeholder="Gib dir einen Nicknamen !"
                                   aria-describedby="basic-addon1" autofocus>
                        </div>
                    </div>
                </div>

                <div class="row row-nickname-buttons">

                    <div class="col-xs-6 col-forward">
                        <button class="btn-backward round-corners button-shadow">Zurück !</button>
                    </div>

                    <div class="col-xs-6 col-backward">
                        <button class="btn-forward round-corners button-shadow">Weiter !</button>
                    </div>

                </div>

            </div>

        </div>


    </div>
</template>