<!--kevin weigand, michael sann-->

<template name="splashscreen">
    <!--
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal
    </button>
     -->
    <div class="modal fade bs-example-modal-lg js-splashscreen" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <p class="splashTitle">{{titel}}</p><br />
                    <p>{{text}}</p>


                    {{#if session}}
                        {{>sessionsT}}
                    {{else}}
                        {{>questionT}}
                    {{/if}}

                </div>
            </div>
        </div>
    </div>

</template>

<template name="sessionsT">
    <p class="splashTitle">Hinweis:</p><br />
    <p class="#">Die folgenden Hashtags sind in diesem Browser verfügbar:</p><br />
        <ul>
            {{#each links}}
                <li><a href="#">{{content}}</a></li>
            {{/each}}
        </ul>
</template>

<template name="questionT">
    <br />
    <p class="splashSmallTitle">{{quest}}</p>
    <br />
        <ul>
            {{#each answ}}
                <li><a href="#">{{content}}</a></li>
            {{/each}}
        </ul>
</template>