<template name="splashscreen">
    <div class="modal fade js-splashscreen" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content {{type}}">
                <div class="modal-header">
                    <h2>
                        {{hedername}}
                    </h2>
                </div>
                <div class="modal-body">
                    {{#with loadingTemplate templateName}}
                        {{> template}}
                    {{/with}}
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</template>