<!--kevin weigand, michael sann-->

<template name="splashscreen">
    <!--
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal
    </button>
     -->
    <div class="modal fade bs-example-modal-lg js-splashscreen" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="splashTitle">Hinweis:</p>
                    <p>Die folgenden Hashtags sind in diesem Browser verfügbar:</p>

                    <ul>
                        <li>SWT 29.03</li>
                        <li>SWT 03.03</li>
                        <li>AuD 8812</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</template>