<template name="timerView">

    <div class="hashtag-template">

        <div class="row row-hashtag-padding">

            <div class="col-md-6 col-md-offset-3">
                <p style="font-size: 20px">{{getCountdown}} seconds left!</p>
                <div class="row row-landingpage-buttons">

                    <div class="col-xs-6 col-join-session">
                        <button class="btn-join-session round-corners button-shadow" id="backButton">Zurück</button>
                    </div>

                    <div class="col-xs-6 col-create-session">
                        <button class="btn-create-session round-corners button-shadow" id="forwardButton">Weiter</button>
                    </div>

                </div>

            </div>

        </div>


    </div>
</template>