<template name="ueber">
    <div class="container text-light contentContainer col-md-12">

        {{> titel titelText="Über arsnova.click"}}
        <h3>
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Lorem ipsum dolor sit amet
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, leo eu varius auctor, enim diam
            tristique nibh, a hendrerit eros urna at lorem. Sed at massa lacinia, condimentum risus vel, porta quam.
            Duis convallis id diam at pellentesque. Nam mattis sed elit nec efficitur. Quisque id ipsum eget massa
            volutpat maximus. Donec pharetra efficitur neque in ultrices. In vel magna in ligula aliquam commodo ac sit
            amet nibh. Curabitur vulputate risus vel augue laoreet, vel pellentesque dui pulvinar. Donec tincidunt porta
            nisi, non ornare justo luctus id. Vivamus blandit felis vel ligula pulvinar, a placerat sapien semper.
        </p>
        <h3>
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Fusce in nibh mauris
        </h3>
        <p>
            Fusce in nibh mauris. Integer vitae sagittis est. Donec semper convallis diam at gravida. Sed iaculis nulla
            in turpis molestie, quis aliquet augue dapibus. Donec facilisis venenatis diam quis tempor. Sed id felis
            vitae mi laoreet gravida accumsan non odio. Maecenas egestas mi id blandit sollicitudin. Donec nulla lacus,
            sodales sed ornare sit amet, dignissim sit amet dui. Suspendisse eget rutrum ex. Vestibulum ullamcorper mi
            vitae nulla finibus, eget viverra augue pulvinar. Phasellus eget molestie purus, sit amet hendrerit orci.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Duis euismod malesuada urna, at molestie neque mattis ac. Maecenas rhoncus libero a eros venenatis, at
            dapibus risus efficitur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Phasellus egestas diam pharetra feugiat sodales. Aenean auctor neque vel nisl venenatis pulvinar.
            Curabitur sed commodo ante, eu molestie massa. Sed commodo arcu non elit maximus, vel pretium sem fringilla.
            Mauris quis sem quis turpis sagittis auctor.
        </p>
    </div>
</template>