<template name="quizManager">
    <div class="row" id="quizManager">
        <div class="col-xs-12">
            {{> quizSummary item="header"}}
        </div>
        <div class="col-xs-12 col-sm-6">
            <h2 class="text-light">Verfügbare Quizfragen</h2>
            <ul id="available_questions_wrapper">
                {{#each questionTypes}}
                    <li id="{{this.id}}_draggable" class="draggable questionType_{{this.id}}">{{_ this.translationName}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-light">Erstellte Quizfragen</h2>
                    <ul id="added_questions_wrapper"></ul>
                </div>
                <div class="col-xs-12 {{#unless isMovingQuestion}}hidden{{/unless}}">
                    <div id="removeQuestionWrapper">
                        <p class="glyphicon glyphicon-trash"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="quizManagerTutorial">
    This is step 1 of the tutorial.
</template>
