
@import "../../../layout/global/styles/appearance";

#questionTypeView {
	.questionType {
		cursor: pointer;

		.wrapper {
			margin: 5px;
			border-radius: $corner-radius;
			padding: 5px;
		}
	}
}
