$success: green;
$warning: firebrick;
$info: rebeccapurple;
$default: grey;

$placeholder-color: darkslategrey;
$background-color: steelblue;
$disabled-button-background: grey;

$input-background-color: gold;
$input-group-letter-color: darkslategrey;
$button-text-color: white;

$font: Georgia, serif;