@import "colors";

body {
  background-color: $background-color;
  font-family: $font;
}

button {
  font-size: 1.3em;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

/*
 * cuts off the Placeholder if it is to long for the input filed
 */
/* TODO: if the textfield is focused, the text-overflow will be ignored */
input[placeholder] {
  text-overflow: ellipsis;
}

input::-webkit-input-placeholder {
  text-overflow: ellipsis;
}

/* Firefox 18- */
input:-moz-placeholder {
  text-overflow: ellipsis;
}

/* Firefox 19+ */
input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

/*
 * defines a default Color for the placeholder of all input fields
 * TODO: maybe the same for TextArea
 */

/* WebKit, Blink, Edge */
textarea::-webkit-input-placeholder {
  color: $placeholder-color;
}

/* Mozilla Firefox 4 to 18 */
textarea:-moz-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

/* Mozilla Firefox 19+ */
textarea::-moz-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

/* Internet Explorer 10-11 */
textarea:-ms-input-placeholder {
  color: $placeholder-color;
}

/* WebKit, Blink, Edge */
input::-webkit-input-placeholder {
  color: $placeholder-color;
}

input[placeholder] {
  color: $placeholder-color;
}

/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

/* Mozilla Firefox 19+ */
input::-moz-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

/* Internet Explorer 10-11 */
input:-ms-input-placeholder {
  color: $placeholder-color;
}

/*
 * defines a big X over the whole Button
 */
button:disabled {
  box-shadow: none;
  background-color: $disabled-button-background;
}