/* todo: we have to define the background-colors */
@keyframes colorChangingArs {
  0% {
    color: white; }

  25% {
    color: firebrick; }

  50% {
    color: rebeccapurple; }

  75% {
    color: gold; }

  100% {
    color: white; } }

@keyframes colorChangingNova {
  0% {
    color: gold; }

  25% {
    color: white; }

  50% {
    color: firebrick; }

  75% {
    color: rebeccapurple; }

  100% {
    color: gold; } }

@keyframes colorChangingClick {
  0% {
    color: rebeccapurple; }

  25% {
    color: gold; }

  50% {
    color: white; }

  75% {
    color: firebrick; }

  100% {
    color: rebeccapurple; } }
