.timer-input {
    height: 50px;
    font-size: 1.5em;
    width:100%;
}
.text-center {
    text-align:center;
}

.text-white {
    color:#ffffff;
    font-family: Georgia, serif;
}

#slider {
    margin-top: 14px;
}

.slider-timer-input {
    text-align: center;
}