body {
    background-color: steelblue;
    font-family: Georgia, serif;
}

button {
    font-size: 1.3em;
}

button:focus {
    outline: none;
}

/*
 * cuts off the Placeholder if it is to long for the input filed
 */
/* TODO: if the textfield is focused, the text-overflow will be ignored */
input[placeholder] {
    text-overflow: ellipsis;
}

input::-webkit-input-placeholder {
    text-overflow: ellipsis;
}

/* Firefox 18- */
input:-moz-placeholder {
    text-overflow: ellipsis;
}

/* Firefox 19+ */
input::-moz-placeholder {
    text-overflow: ellipsis;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

/*
 * defines a default Color for the placeholder of all input fields
 * TODO: maybe the same for TextArea
 */

/* WebKit, Blink, Edge */
input::-webkit-input-placeholder {
    color: darkslategrey;
}

/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
    color: darkslategrey;
    opacity: 1;
}

/* Mozilla Firefox 19+ */
input::-moz-placeholder {
    color: darkslategrey;
    opacity: 1;
}

/* Internet Explorer 10-11 */
input:-ms-input-placeholder {
    color: darkslategrey;
}

/*
 * defines a big X over the whole Button
 */
button:disabled {
    box-shadow: none;
}

button:disabled::before {
    content: '\2715';
    position: absolute;
    height: 100%;
    font-size: 8em;
    text-align: center;
    line-height: 25%;
    width: 100%;
    padding-right: 30px;
    z-index: 100;
    display: block;
    color: black;
}