.round-corners {
    border-radius: 10px;
}

.button-shadow {
    box-shadow: 1px 1px 5px black;
}

.input-field-sizing {
    height: 50px;
    font-size: 1.5em;
}

.input-field-bg-color {
    background-color: gold;
    border: none;
}

.default-yellow-text-color {
    color: gold;
}

/*
 * center's the placeholder
 */
.placeholder-align-center {
}

.placeholder-align-center::-webkit-input-placeholder {
    text-align: center;
}

.placeholder-align-center:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

.placeholder-align-center::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

.placeholder-align-center:-ms-input-placeholder {
    text-align: center;
}

.hover-underline:hover {
    text-decoration: underline;
}