.text-size-medium {
    font-size: 2em;
}

p.header-layout {
    margin-left: 0;
}

@media (min-width: 1200px) {
    .text-header-hashtag {
        font-size: 80px;
    }

    .arsnova-logo {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 990px) {
    .text-header-hashtag {
        font-size: 6vw;
    }

    .arsnova-logo {
        width: 6vw;
        height: 6vw;
    }
}

@media (min-width: 768px) {
    .text-header-hashtag {
        font-size: 5vw;
    }

    .arsnova-logo {
        width: 5vw;
        height: 5vw;
    }
}

.arsnova-logo {
    margin-left: 15px;
}

.arsnova-logo img {
    height: 8vw;
}

.kill-session-switch {
    color: white;
    font-size: 5vw;
    cursor: pointer;
    margin-top: 15px;
    right: 15px;
}

.kill-session-switch:hover {
    color: lightgray;
}

/*
TODO: Contact product owner!

.navbar-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4682b4+0,4682b4+100&1+0,1+61,0+100 */
/*background: -moz-linear-gradient(top, rgba(70, 130, 180, 1) 0%, rgba(70, 130, 180, 1) 61%, rgba(70, 130, 180, 0) 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top, rgba(70, 130, 180, 1) 0%, rgba(70, 130, 180, 1) 61%, rgba(70, 130, 180, 0) 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom, rgba(70, 130, 180, 1) 0%, rgba(70, 130, 180, 1) 61%, rgba(70, 130, 180, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4682b4', endColorstr='#004682b4', GradientType=0); /* IE6-9 */
/*}
*/