.navbar-transparent {
    background-color: transparent;
    border: 0px;
}

.navbar-small {
    min-height: 20px;
    color: black;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,bfbfbf+100 */
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top, #fafafa 0%, #bfbfbf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 0%, #bfbfbf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 0%, #bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#bfbfbf', GradientType=0); /* IE6-9 */
    border: 0px;
}

.text-size-medium {
    font-size: 2em;
}

a,
a:hover,
a:active,
a:visited,
a:focus,
.color-black {
    color: black;
    text-decoration: none;
}

.color-white {
    color: white;
}