.contentPosition {
    position: absolute;
    width: 100%;
    /* TODO: IE 8 and Opera 8 doesn't support calc*/
    /*
     * -50px because of the header height
     * -20px because of the footer height
     */
    height: calc(100% - 50px - 20px);
    top: 50px;
}

.header-layout {
    white-space: nowrap;
    font-size: 7vw;
}

@media (min-width: 1200px) {
    .header-layout {
        font-size: 80px;
    }
}

@media (min-width: 768px) {
    .header-layout {
        font-size: 5vw;
    }
}