.contentContainer {
    margin-bottom: 35px;
}

.contentPosition {
    position: absolute;
    width: 100%;
    /* TODO: IE 8 and Opera 8 doesn't support calc*/
    /*
     * -50px because of the header height
     * -20px because of the footer height
     */
    /*height: calc(100% - 114px - 20px);*/
    /*top: 10%;*/
    height: 100%;
    overflow-x: auto;
}

.contentPosition > .row {
    height: 100%;
}

.contentPosition > .row > .col-md-6 {
    height: 100%;
}

.text-light,
a.text-light,
a:hover.text-light,
a:active.text-light,
a:visited.text-light,
a:focus.text-light {
    color: white;
}

a.text-dark,
a:hover.text-dark,
a:active.text-dark,
a:visited.text-dark,
a:focus.text-dark {
    color: black !important;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    outline: none;
}

p, ul.list-unstyled {
    margin-left: 30px;
    margin-right: 30px;
    /*text-align: justify;*/
}

.header-layout {
    white-space: nowrap;
    font-size: 7vw;
}

.header-session > .row {
    margin-top: 20px;
}

.titel {
    color: white;
    text-align: center;
    font-size: 6vw;
    /*margin-top: 20px;*/
    width: 100%;
}

.titel + .margin-title {
    margin-top: 10px;
}

.answer-options {
    height: calc(100% - 265px);
    overflow-y: auto;
}

@media (min-width: 1200px) {
    .header-layout {
        font-size: 80px;
    }

}

@media (min-width: 990px) {
    .header-layout {
        font-size: 6vw;
    }

}

@media (min-width: 768px) {
    .header-layout {
        font-size: 5vw;
    }

    .titel {
        font-size: 3.5vw;
    }
}

.toggleCorrect:hover {
    cursor: pointer;
}