.nickname-template {
    position: relative;
    width: 100%;
    height: 100%;
}

.row-nickname-padding {
    padding: 0 10px;
    position: relative;
    top: 50%;
    /* TODO: IE 8 and Opera 8 doesn't support translateY*/
    transform: translateY(-70%);
}

#nickname-input-field {
    height: 50px;
    font-size: 1.5em;
}

.col-forward {
    padding-right: 5px
}

.col-backward {
    padding-left: 5px
}

.row-nickname-buttons {
    margin-top: 20px;

}

.btn-forward, .btn-backward {
    height: 50px;
    width: 100%;
    border: none;
    white-space: nowrap;
}

.btn-forward {
    background-color: green;
    color: #ffffff;
}

.btn-backward {
    background-color: red;
    color: #ffffff;
}

.btn-forward:hover, .btn-forward:active:focus {
    color: #ffffff;
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-backward:hover, .btn-backward:active:focus {
    color: #ffffff;
    border: none;
    outline: none;
    box-shadow: none;
}

.nickname-field {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}