@import "default/appearance";

$activeItemBackground: #de5454;
$activeItemBackgroundLight: #86253E;

.questionScrollPane {
  height: 70px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: serif;
  font-size: 15px;

  .questionIcon {
    height: 50px;
    display: inline-flex;
    margin: 0 10px;
    cursor: pointer;

    .indexNumber {
      font-size: 2.5em;
      color: white;
      padding: 0 20px;
      border-radius: 90%;
      line-height: 50px;
    }
    .removeQuestion {
      display: none;
      color: white;
    }
    &.valid {
      .indexNumber {
        background-color: green;
      }
      &:hover:not(.active) {
        .indexNumber {
          background-color: darken(green, 5%);
        }
      }
    }
    &:not(.valid) {
      .indexNumber {
        background-color: grey;
      }
      &:hover:not(.active) {
        .indexNumber {
          background-color: darken(grey, 10%);
        }
      }
    }
    &.active {
      border-radius: $corner-radius;
      border: 1px solid beige;

      .indexNumber {
        border-radius: $corner-radius;
      }

      &.valid {
        .removeQuestion {
          background-color: green;
        }
      }
      .removeQuestion {
        box-shadow: none;
        border-left: 10px solid black;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-family: Georgia, serif;
        height: 48px; /* Standard button height is 50px -> subtract 2px for the border */

        .glyphicon {
          top: 3px;
        }

        &:hover {
          background-color: red;
          color: white;
        }
      }

      &:hover {
        .indexNumber {
          border-radius: $corner-radius 0 0 $corner-radius;
        }
        .removeQuestion {
          display: block;
        }
      }
    }
  }
}

#addQuestion {
  font-size: 20px;
  height: 50px;
  display: block;
}