/*kevin weigand, michael sann*/
.splashTitle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:black;
}

.modal-dialog {
    width: 90%;
    max-width: 500px;
    height: 90%;
    max-height: 500px;
    padding: 0;
}

.modal-content {
    height: 100%;
    background: linear-gradient(white,grey);
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    color: black;
}