.btn-answerFont {
  font-size: 4em;
}

.sendResponse{
  background-color: silver;
}

.btn-answerOption {
  margin: 23px 0;
  width: 100%;
}

.answer-row {
  /*position: fixed;
  bottom: 10px;*/
  background-color: steelblue;
}

.answer-selected{
 background-color: #ffd700 !important;
}