@mixin theme($name) {

	/* Default Theme */
	$fg-text-light: white;
	$fg_text-dark: black;
	$fg_a: #ffd700;
	$fg_quiz-name: #ffd700;
	$fg_titel: white;
	$success: #008000; /* green */
	$success-text-color: #ffffff; /* white */
	$warning: #b22222; /* firebrick */
	$warning-text-color: #ffffff; /* white */
	$info: #663399; /* rebeccapurple */
	$info-text-color: #ffffff; /* white */
	$default: #808080; /* grey */
	$default-text-color: #ffffff; /* white */
	$background-color: #4682b4; /* steelblue */
	$bg-nav-row: $background-color;
	$bg-container: $background-color;
	$bg-footer: $background-color;
	$bg-questionList-row: $background-color;
	$disabled-button-background: #808080; /* grey */
	$placeholder-color: #808080; /* grey */
	$input-background-color: #ffd700; /* gold */
	$input-foreground-color: black;
	$input-group-letter-color: #2f4f4f; /* darkslategrey */
	$footer-background-color: #dcdcdc; /*gainsboro */
	$footer-text-color: #000000; /* black */
	$fg-footer-info-bar: white;
	$splash-screen-header-color: #2f4f4f; /* darkslategrey */
	$splash-screen-body-color: #2f4f4f; /* darkslategrey */
	$slider-color: #008000; /* green */
	$progress-bar-success-color: green;
	$progress-bar-read-confirmation: darkorange;
	$progress-bar-failure-color: firebrick;
	$progress-bar-default-color: grey;
	$splashscreen-background-color: #98fb98; /* palegreen */
	$splashscreen-foreground-color: black;
	$splashscreen-question-and-answer-background-color: $splashscreen-background-color; /* palegreen */
	$splashscreen-question-preview-background-color: $splashscreen-background-color; /* palegreen */
	$splashscreen-reading-confirmed-background-color: $splashscreen-background-color; /* palegreen */
	$splashscreen-show-hashtags-background-color: $splashscreen-background-color; /* palegreen */
	$splashscreen-sound-config-background-color: $splashscreen-background-color; /* palegreen */
	$splashscreen-sound-config-button-background-color: $success;
	$splashscreen-delete-background-color: $splashscreen-background-color; /* palegreen */
	$splash-screen-error-message-background-color: white;
	$splash-screen-error-message-button-background-color: $success;
	$splash-screen-error-message-button-foreground-color: white;
	$check-mark-checked: #00882a;
	$check-mark-unchecked: #aaaaaa;
	$bg_progress-bar: white;
	$fg_progress-bar: black;
	$fg-theme_description: white;
	$button-shadow: black;
	$bg-button-leader: $input-background-color;
	$fg-button-leader: $input-foreground-color;
	$bg-button-result: #eeeeee;
	$fg-button-result-percentage: #ffffff;
	$bg-button-result-progress: LightSteelBlue;
	$bg-previewText: white;
	$fg-hljs: #f0f0f0;
	$bg-hljs: black;
	$border-hljs-line-numbers: #ccc;
	$fg-hljs-line-numbers: #999;
	$bg-hljs-pre: white;
	$fg-hljs-comment: #006a00;
	$fg-lockquote: #394a59;
	$fg-js-my-hash: black;
	$bg-js-my-hash: #ffffe0;
	$box-shadow-markdown: black;
	$colorChangingArs0: white;
	$colorChangingArs25: $warning;
	$colorChangingArs50: $info;
	$colorChangingArs75: $input-background-color;
	$colorChangingArs100: white;
	$colorChangingNova0: $input-background-color;
	$colorChangingNova25: white;
	$colorChangingNova50: $warning;
	$colorChangingNova75: $info;
	$colorChangingNova100: $input-background-color;
	$colorChangingDot0: $info;
	$colorChangingDot25: $input-background-color;
	$colorChangingDot50: white;
	$colorChangingDot75: $warning;
	$colorChangingDot100: $info;
	$colorChangingClick0: $warning;
	$colorChangingClick25: $info;
	$colorChangingClick50: $input-background-color;
	$colorChangingClick75: white;
	$colorChangingClick100: $warning;
	$bg-colorChangingOwnNick0: $input-background-color;
	$fg-colorChangingOwnNick0: white;
	$bg-colorChangingOwnNick25: $warning;
	$fg-colorChangingOwnNick25: white;
	$bg-colorChangingOwnNick50: $info;
	$fg-colorChangingOwnNick50: white;
	$bg-colorChangingOwnNick75: $default;
	$fg-colorChangingOwnNick75: white;
	$bg-colorChangingOwnNick100: #98fb98;
	$fg-colorChangingOwnNick100: black;
	$bg-btn-more-learners: rebeccapurple;
	$fg-btn-more-learners: white;
	$box-shadow-question-row-active: rebeccapurple;
	$fg-formGroup-progress-percentage-label: white;
	$bg-btn-file-input: white;
	$fg-question-title: white;
	$fg-glyphicon-style: #FFF;
	$fg-kill-session-switch-wrapper: #b22222;
	$fg-kill-session-switch-wrapper-hovered: red;
	$fg-qr-code-button: white;
	$border-qr-code-container: white;
	$bg-qr-code-container: white;
	$fg-qr-code-container-close: black;
	$border-qr-code-container-close-icon: black;
	$background-qr-code-container-close-icon: white;
	$fg-qr-code-label: black;
	$fg-sound-button-active: #00CC00;
	$fg-sound-button-active-hovered: #33FF00;
	$fg-sound-button-inactive: #b22222;
	$fg-sound-button-inactive-hovered: red;
	$fg-questionScrollPane-index-number: white;
	$fg-questionScrollPane-remove-question: white;
	$bg-questionScrollPane-question-icon-valid-index-number: green;
	$bg-questionScrollPane-question-icon-invalid-index-number: grey;
	$border-questionScrollPane-active: beige;
	$border-questionScrollPane-active-valid-remove-question: green;
	$box-shadow-questionScrollPane-active-remove-question: none;
	$border-questionScrollPane-active-remove-question: black;
	$bg-questionScrollPane-active-remove-question-hovered: red;
	$fg-questionScrollPane-active-remove-question-hovered: white;

	@if ($name == "theme-dark") {
		$success: #00CD00; /* green */
		$warning: #FF2222; /* firebrick */
		$info: #1C86EE; /* dodgerblue */
		$switch: #00CD00; /* green */
		$switch-text-color: #ffffff;
		$background-color: #4a4a4a; /* grey */
		$bg-nav-row: $background-color;
		$bg-questionList-row: $bg-nav-row;
		$bg-container: $background-color;
		$bg-footer: $background-color;
		$disabled-button-background: darkgrey; /* darkgrey */
		$placeholder-color: #FFFFFF ; /* white */
		$input-background-color: #FF8C00; /* orange */
		$input-group-letter-color: white; /* darkslategrey */
		$footer-text-color: #FFFFFF; /* white */
		$check-mark-checked: $success;
		$check-mark-unchecked: $warning;
	}

	@if ($name == "theme-thm") {
		$thmred: #b5003f;
		$thmorange: #ffb300;
		$thmbabyblue: #4dffed;
		$thmnavy: #003bd1;
		$thmgreen: #80ba24;
		$thmgray: #4a5c66;
		$fg_quiz-name: #b5003f;
		$placeholder-color: #ffffff ; /* white */
		$input-background-color: #808080; /* grey */
		$footer-background-color: #000000; /*gainsboro */
		$default: #d3d3d3; /* light grey */
		$default-text-color: $thmgray;
		$background-color: $thmgreen;
		$bg-nav-row: $background-color;
		$bg-questionList-row: $bg-nav-row;
		$bg-container: $background-color;
		$bg-footer: $background-color;
		$disabled-button-background: #808080; /* grey */
		$success: #a9f5a9; /*bright green*/
		$success-text-color: $thmgray;
		$check-mark-unchecked: #aaaaaa;
		$fg-theme_description: black;
		$fg-sound-button-active: #33FF00;
		$fg-sound-button-active-hovered: #A1FF8A;
	}

	@if ($name == "theme-elegant") {
		$bg-nav-row: #002d47;
		$bg-container: #dbe4e9;
		$bg-questionList-row: #B1C5D0;
		$bg-footer: #374e5b;
		$default-text-color: black;
		$fg-text-light: black;
		$fg_text-dark: black;
		$fg_a: #ffd700;
		$fg_quiz-name: #ffd700;
		$fg_titel: black;
		$fg-theme_description: black;
	}

	@if ($name == "theme-arsnova") {
		$bg-nav-row: #3d9c19;
		$bg-container: #dfe5e6;
		$bg-questionList-row: $bg-container;
		$bg-footer: #dfe5e6;
		$fg_a: white;
		$fg_quiz-name: white;
		$fg_titel: black;
		$fg-theme_description: black;
		$default-text-color: black;
		$fg-text-light: black;
		$fg_text-dark: black;
		$fg-footer-info-bar: #394a59;
		$fg-sound-button-active: #33FF00;
		$fg-sound-button-active-hovered: #A1FF8A;
	}

	.#{$name} {
		.text-light, a.text-light, a:hover.text-light, a:active.text-light, a:visited.text-light, a:focus.text-light {
			color: $fg-text-light;
		}
		a.text-dark, a:hover.text-dark, a:active.text-dark, a:visited.text-dark, a:focus.text-dark {
			color: $fg_text-dark !important;
		}
		a, a:hover, a:active, a:visited, a:focus {
			color: $fg_a;
		}
		.titel {
			color: $fg_titel;
		}
		.quizName {
			color: $fg_quiz-name;
		}
		.container, .fixed-bottom {
			background-color: $bg-container;
		}
		.footer-info-bar {
			background-color: $bg-footer;
			color: $fg-footer-info-bar;
		}
		.footer-gradient {
			color: $footer-text-color;
		}
		.footer a {
			color: $footer-text-color;
			div {
				border-left: solid $footer-text-color 1px;
				color: $footer-text-color !important;
			}
		}
		.navbar-fixed-top {
			background-color: $bg-nav-row;
			.questionList-row {
				background-color: $bg-questionList-row;
			}
			.nav-row {
				background-color: $bg-nav-row;
			}
		}
		textarea::-moz-placeholder, textarea:-ms-input-placeholder, input::-webkit-input-placeholder, input[placeholder] {
			color: $placeholder-color;
			opacity: 1;
		}
		button:disabled {
			background-color: $disabled-button-background;
		}
		.kill-session-switch-wrapper {
			color: $fg-kill-session-switch-wrapper;
			&:hover {
				color: $fg-kill-session-switch-wrapper-hovered;
			}
		}
		.qr-code-button {
			color: $fg-qr-code-button;
			&:hover {
				color: darken($fg-qr-code-button, 20);
			}
		}
		.qr-code-container {
			border: 1px solid $border-qr-code-container;
			background-color: $bg-qr-code-container;
		}
		.qr-code-container-close {
			color: $fg-qr-code-container-close;
			&:hover {
				color: lighten($fg-qr-code-container-close, 20);
			}
			.glyphicon-remove {
				border: 1px solid $border-qr-code-container-close-icon;
				background-color: $background-qr-code-container-close-icon;
			}
		}
		.qr-code-label {
			color: $fg-qr-code-label;
		}
		.sound-button-active {
			color: $fg-sound-button-active;
			&:hover {
				color: $fg-sound-button-active-hovered;
			}
		}
		.sound-button-inactive {
			color: $fg-sound-button-inactive;
			&:hover {
				color: $fg-sound-button-inactive-hovered;
			}
		}
		.questionScrollPane {
			.indexNumber {
				color: $fg-questionScrollPane-index-number;
			}
			.removeQuestion {
				color: $fg-questionScrollPane-remove-question;
			}
			.questionIcon {
				&.valid {
					.indexNumber {
						background-color: $bg-questionScrollPane-question-icon-valid-index-number;
					}
					&:hover:not(.active) {
						.indexNumber {
							background-color: darken($bg-questionScrollPane-question-icon-valid-index-number, 5%);
						}
					}
				}
				&:not(.valid) {
					.indexNumber {
						background-color: $bg-questionScrollPane-question-icon-invalid-index-number;
					}
					&:hover:not(.active) {
						.indexNumber {
							background-color: darken($bg-questionScrollPane-question-icon-invalid-index-number, 10%);
						}
					}
				}
				&.active {
					border: 1px solid $border-questionScrollPane-active;
					&.valid {
						.removeQuestion {
							background-color: $border-questionScrollPane-active-valid-remove-question;
						}
					}
					.removeQuestion {
						box-shadow: $box-shadow-questionScrollPane-active-remove-question;
						border-left: 10px solid $border-questionScrollPane-active-remove-question;
						&:hover {
							background-color: $bg-questionScrollPane-active-remove-question-hovered;
							color: $fg-questionScrollPane-active-remove-question-hovered;
						}
					}
				}
			}
		}
		.progress-bar {
			background: $bg_progress-bar;
			color: $fg_progress-bar;
		}
		.slider, .slider .noUi-handle {
			background-color: $slider-color;
		}
		.button-shadow, .button {
			box-shadow: 1px 1px 5px $button-shadow;
		}
		.input-field {
			color: $input-foreground-color !important;
		}
		.input-field-bg-color, .input-field {
			background-color: $input-background-color;
		}
		.default-yellow-text-color {
			color: $input-background-color;
		}
		.input-group-letter, .button-result-letter {
			color: $input-group-letter-color;
		}
		.button-next, .button-success {
			background-color: $success;
			color: $success-text-color;
		}
		.button-warning, .button-back {
			background-color: $warning;
			color: $warning-text-color;
		}
		.button-purple {
			background-color: $info;
			color: $info-text-color;
		}
		.button-default {
			background-color: $default;
			color: $default-text-color;
		}
		.button-leader {
			background-color: $bg-button-leader;
			color: $fg-button-leader;
		}
		.button-result {
			background-color: $bg-button-result;
			.percentage {
				color: $fg-button-result-percentage;
				font-weight: bolder;
			}
			.progress {
				background-color: $bg-button-result-progress;
			}
		}
		.progress-success {
			background-color: $progress-bar-success-color !important;
		}
		.progress-failure {
			background-color: $progress-bar-failure-color !important;
		}
		.progress-default {
			background-color: $input-background-color !important;
		}
		.textarea {
			background-color: $input-background-color;
		}
		.previewText {
			background-color: $bg-previewText;
		}
		.check-mark-checked {
			color: $check-mark-checked;
		}
		.check-mark-unchecked {
			color: $check-mark-unchecked;
		}
		.success input, .success textarea, input.success, textarea.success {
			border: 3px solid $success;
		}
		.error input, .error textarea, input.error, textarea.error {
			border: 3px solid $warning;
		}
		.popover-title, .popover.bottom {
			background-color: $warning;
			color: $warning-text-color;
			border-color: $warning;
		}
		.popover.bottom > .arrow:after {
			border-bottom-color: $warning;
		}
		.lockquote {
			color: $fg-lockquote !important;
		}
		.hljs {
			background: $bg-hljs;
			color: $fg-hljs;
		}
		.hljs-line-numbers {
			border-right: 1px solid $border-hljs-line-numbers;
			color: $fg-hljs-line-numbers;
		}
		.hljs-pre {
			background-color: $bg-hljs-pre;
		}
		.hljs-comment {
			color: $fg-hljs-comment;
		}
		.hljs-keyword, .hljs-literal, .nginx .hljs-title {
			color: #aa0d91;
		}
		.method, .hljs-list .hljs-title, .hljs-tag .hljs-title, .setting .hljs-value, .hljs-winutils, .tex .hljs-command, .http .hljs-title, .hljs-request, .hljs-status, .hljs-name {
			color: #008;
		}
		.hljs-envvar, .tex .hljs-special {
			color: #660;
		}
		.hljs-string {
			color: #c41a16;
		}
		.hljs-tag .hljs-value, .hljs-cdata, .hljs-filter .hljs-argument, .hljs-attr_selector, .apache .hljs-cbracket, .hljs-date, .hljs-regexp {
			color: #080;
		}
		.hljs-sub .hljs-identifier, .hljs-pi, .hljs-tag, .hljs-tag .hljs-keyword, .hljs-decorator, .ini .hljs-title, .hljs-shebang, .hljs-prompt, .hljs-hexcolor, .hljs-rule .hljs-value, .hljs-symbol, .hljs-symbol .hljs-string, .hljs-number, .css .hljs-function, .hljs-function .hljs-title, .coffeescript .hljs-attribute {
			color: #1c00cf;
		}
		.hljs-class .hljs-title, .smalltalk .hljs-class, .hljs-type, .hljs-typename, .hljs-tag .hljs-attribute, .hljs-doctype, .hljs-class .hljs-id, .hljs-built_in, .setting, .hljs-params, .clojure .hljs-attribute {
			color: #5c2699;
		}
		.hljs-variable {
			color: #3f6e74;
		}
		.css .hljs-tag, .hljs-rule .hljs-property, .hljs-pseudo, .hljs-subst {
			color: #000;
		}
		.css .hljs-class, .css .hljs-id {
			color: #9b703f;
		}
		.hljs-value .hljs-important {
			color: #ff7700;
			font-weight: bold;
		}
		.hljs-rule .hljs-keyword {
			color: #c5af75;
		}
		.hljs-annotation, .apache .hljs-sqbracket, .nginx .hljs-built_in {
			color: #9b859d;
		}
		.hljs-preprocessor, .hljs-preprocessor *, .hljs-pragma {
			color: #643820;
		}
		.tex .hljs-formula {
			background-color: #eee;
			font-style: italic;
		}
		.diff .hljs-header, .hljs-chunk {
			color: #808080;
			font-weight: bold;
		}
		.diff .hljs-change {
			background-color: #bccff9;
		}
		.hljs-addition {
			background-color: #baeeba;
		}
		.hljs-deletion {
			background-color: #ffc8bd;
		}
		.method .hljs-id {
			color: #000;
		}
		.projector-mode {
			span[class^='hljs'], span[class*=' hljs'] {
				color: inherit;
				background-color: inherit;
			}
			.hljs-pre {
				color: white;
				background-color: #333;
			}
			.hljs {
				display: block;
				overflow-x: auto;
				padding: .5em;
				background: #333;
				color: white;
				-webkit-text-size-adjust: none;
			}
			.hljs-tag, .ini .hljs-title {
				color: #62c8f3;
			}
			.hljs-id, .hljs-cbracket, .hljs-tag .hljs-value {
				color: #ade5fc;
			}
			.hljs-string, .hljs-bullet {
				color: #a2fca2;
			}
			.hljs-type, .hljs-variable, .hljs-name, .actionscript .hljs-title, .aspectj .hljs-annotation, .aspectj .hljs-title, .hljs-attribute, .hljs-change, .hljs-blockquote, .hljs-built_in {
				color: #ffa;
			}
			.hljs-number, .hljs-hexcolor, .hljs-link_label, .hljs-link_reference {
				color: #d36363;
			}
			.hljs-keyword, .hljs-literal, .hljs-constant, .css .hljs-tag, .hljs-typename, .hljs-winutils {
				color: #fcc28c;
			}
			.hljs-comment, .hljs-cdata, .hljs-preprocessor, .hljs-annotation, .hljs-decorator, .hljs-doctype, .hljs-deletion, .hljs-shebang, .apache .hljs-sqbracket, .tex .hljs-formula, .hljs-header, .hljs-horizontal_rule, .hljs-code {
				color: #888;
			}
			.hljs-regexp, .hljs-attr_selector {
				color: #c6b4f0;
			}
			.hljs-important, .hljs-doctype, .hljs-pi, .hljs-chunk, .actionscript .hljs-type, .hljs-shebang, .hljs-pragma, .http .hljs-attribute {
				color: #fc9b9b;
			}
			.hljs-deletion {
				background-color: #fc9b9b;
				color: #333;
			}
			.hljs-addition {
				background-color: #a2fca2;
				color: #333;
			}
			.hljs a, .hljs-tag .hljs-attribute {
				color: inherit;
			}
			.hljs a:focus, .hljs a:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
		@keyframes colorChangingArs {
			0% {
				color: $colorChangingArs0;
			}
			25% {
				color: $colorChangingArs25;
			}
			50% {
				color: $colorChangingArs50;
			}
			75% {
				color: $colorChangingArs75;
			}
			100% {
				color: $colorChangingArs100;
			}
		}
		@keyframes colorChangingNova {
			0% {
				color: $colorChangingNova0;
			}
			25% {
				color: $colorChangingNova25;
			}
			50% {
				color: $colorChangingNova50;
			}
			75% {
				color: $colorChangingNova75;
			}
			100% {
				color: $colorChangingNova100;
			}
		}
		@keyframes colorChangingDot {
			0% {
				color: $colorChangingDot0;
			}
			25% {
				color: $colorChangingDot25;
			}
			50% {
				color: $colorChangingDot50;
			}
			75% {
				color: $colorChangingDot75;
			}
			100% {
				color: $colorChangingDot100;
			}
		}
		@keyframes colorChangingClick {
			0% {
				color: $colorChangingClick0;
			}
			25% {
				color: $colorChangingClick25;
			}
			50% {
				color: $colorChangingClick50;
			}
			75% {
				color: $colorChangingClick75;
			}
			100% {
				color: $colorChangingClick100;
			}
		}
		.btn-file input[type=file] {
			background: $bg-btn-file-input;
		}
		.question-title {
			color: $fg-question-title;
		}
		.glyphicon-style {
			color: $fg-glyphicon-style;
		}
		.formGroupProgressRow {
			.progress {
				.percentage {
					.label {
						color: $fg-formGroup-progress-percentage-label;;
					}
				}
			}
		}
		.question-row.active {
			-webkit-box-shadow: 0 0 13px 3px $box-shadow-question-row-active;
			-moz-box-shadow: 0 0 13px 3px $box-shadow-question-row-active;
			box-shadow: 0 0 13px 3px $box-shadow-question-row-active;
		}
		.btn-more-learners {
			background-color: $bg-btn-more-learners;
			color: $fg-btn-more-learners;
		}
		@keyframes colorChangingOwnNick {
			0% {
				background-color: $bg-colorChangingOwnNick0;
				color: $fg-colorChangingOwnNick0;
				transform: translateY(0%);
				-webkit-transform: translateY(0%);
			}
			25% {
				background-color: $bg-colorChangingOwnNick25;
				color: $fg-colorChangingOwnNick25;
			}
			50% {
				background-color: $bg-colorChangingOwnNick50;
				color: $fg-colorChangingOwnNick50;
			}
			75% {
				background-color: $bg-colorChangingOwnNick75;
				color: $fg-colorChangingOwnNick75;
			}
			100% {
				background-color: $bg-colorChangingOwnNick100;
				color: $fg-colorChangingOwnNick100;
				transform: translateY(0%);
				-webkit-transform: translateY(0%);
			}
		}
		.button-markdown-shadow, .button-markdown {
			box-shadow: 1px 1px 5px $box-shadow-markdown;
		}
		.input-label {
			color: $input-group-letter-color;
		}
		.soundConfig {
			.modal-content {
				background-color: $splashscreen-sound-config-background-color;
				button.down {
					background: $splashscreen-sound-config-button-background-color;
				}
			}
		}
		/*
		 * library splashscreen colors
		 */
		.splashscreen {
			.modal-header {
				color: $splash-screen-header-color;
			}
			.modal-content {
				background: $splashscreen-background-color;
				color: $splashscreen-foreground-color;
				a, a:hover, a:active, a:visited, a:focus {
					color: $background-color;
				}
			}
		}
		.modal-backdrop {
			background-color: $background-color;
		}
		.questionAndAnswerSplashscreen {
			.modal-content {
				background: $splashscreen-question-and-answer-background-color;
			}
		}
		.deleteConfirmationSplashscreen {
			.modal-content {
				background: $splashscreen-delete-background-color;
			}
		}
		.kickMemberSplashscreen {
			.modal-content {
				background: $splash-screen-error-message-background-color;
			}
		}
		.showHashtagsSplashscreen {
			.modal-content {
				background: $splashscreen-show-hashtags-background-color;
				.js-my-hash {
					color: $fg-js-my-hash;
					background-color: $bg-js-my-hash;
					&:hover {
						background-color: lighten($bg-js-my-hash, 20);
					}
					&:active {
						background-color: darken($bg-js-my-hash, 10);
					}
				}
			}
		}
		.readingConfirmedSplashscreen {
			.modal-content {
				background: $splashscreen-reading-confirmed-background-color;
			}
		}
		.questionPreviewSplashscreen {
			.modal-content {
				background: $splashscreen-question-preview-background-color;
			}
		}

		.errorSplashscreen {
			.modal-content {
				background: $splash-screen-error-message-background-color;
			}
			.splash-button-error-message {
				color: $splash-screen-error-message-button-foreground-color;
				background-color: $splash-screen-error-message-button-background-color;
			}
		}
		.theme-description {
			color: $fg-theme_description;
		}
	}
}

@include theme(theme-default);
@include theme(theme-dark);
@include theme(theme-thm);
@include theme(theme-elegant);
@include theme(theme-arsnova);