<template name="questionTypeView">
    <div class="row" id="questionTypeView">
        <div class="col-xs-12"><p class="text-light">Aktueller Typ der Quizfrage: {{_ currentQuestionType}}</p></div>
        {{#each questionTypes}}
            <div class="col-xs-12 col-sm-6 questionType" id="{{this.id}}_questionType">
                <div class="wrapper">
                    <p class="text-light">{{_ this.translationName}}</p>
                    <p class="text-light">TODO: Beschreibungstext des Quiztyps</p>
                </div>
            </div>
        {{/each}}
    </div>
</template>
